*.aux
*.cp
*.cps
*.dvi
*.fn
*.fns
*.ky
*.log
*.pg
*.toc
*.tp
*.vr
*.vrs
*.menu
autobook.info*
autobook.html
autobook.texi
stamp-vti
version.texi
configure.scan
configure
Makefile.in
Makefile
config.cache
aclocal.m4
config.status
